@use 'variables' as *;

.floor-label {
  height: var(--floor-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
  color: #555;
  font-size: 12px;
  border-top: 1px solid $color-grid-line;

  &:last-child { border-top: none; }
}
